[submodule "school_3(C, C#, Python)/Ödev/Nesne Tabanlı Programlama"]
	path = "school_3(C, C#, Python)/Ödev/Nesne Tabanlı Programlama"
	url = git@github.com:yavuzovski/freecodecamp-scraper.git
[submodule "web development/backend/job-seeker"]
	path = web development/backend/job-seeker
	url = git@github.com:yavuzovski/job-seeker.git
[submodule "web development/backend/freecodecamp/APIProjects/timestamp-microservice"]
	path = web development/backend/freecodecamp/APIProjects/timestamp-microservice
	url = git@github.com:yavuzovski/timestamp-microservice.git
[submodule "web development/backend/freecodecamp/APIProjects/header-parser"]
	path = web development/backend/freecodecamp/APIProjects/header-parser
	url = https://github.com/yavuzovski/header-parser
[submodule "web development/backend/freecodecamp/APIProjects/url-shortener"]
	path = web development/backend/freecodecamp/APIProjects/url-shortener
	url = git@github.com:yavuzovski/url-shortener.git
[submodule "web development/backend/freecodecamp/APIProjects/image-search-abstraction-layer"]
	path = web development/backend/freecodecamp/APIProjects/image-search-abstraction-layer
	url = git@github.com:yavuzovski/image-search-abstraction-layer.git
[submodule "web development/backend/freecodecamp/APIProjects/file-metadata"]
	path = web development/backend/freecodecamp/APIProjects/file-metadata
	url = git@github.com:yavuzovski/file-metadata.git
